.line {
	border: solid rgb(46, 5, 0) 1px;
	width: 20px;
	height: .1px;
	margin: 3px;
	display: flex;
	flex-direction: column;
	background-color: rgb(24, 0, 0);
	padding: 1.2px;
}

.but {
	margin-top: 10px;
}


